:root {
	/* https://colorhunt.co/palette/22283130475ec1a57bececec */
	--body-text-color    : #30475E;
	--body-bg-color      : #ECECEC;
	--body-link-color    : #026eb3;
}

@media (prefers-color-scheme: dark) {
/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */
	:root {
		--body-text-color: #d1d1d1;
		--body-bg-color  : #393E46;
		--body-link-color: #24bbc3;
	}
}

body {
	font-family     : system-ui;
	font-size       : 1.125rem;
	line-height     : 1.45;
	color           : var(--body-text-color);
	background-color: var(--body-bg-color);
	font-feature-settings: "ss06";
	font-weight          : 400;
}

h1, h2, h3, h4 {
	line-height: 1.1;
}

h2 {
	margin: 2rem 0 .5rem;
}

h2, h3 {
	font-weight: 700;
}
p {
	margin: 0 0 1rem;
}

img, svg, video {
	max-width: 100%;
	display: block;
}

header, main {
	max-width: min(55ch, 100% - 4rem);
	margin-inline: auto;
}

a {
	color: var(--body-link-color)
}

nav {
	&.navigation {
		ul {
			display: flex;
			padding: 0; margin: 0;
			list-style: none;
		}
	}
	&.breadcrumbs {
		ul {
			gap: 1rem;
			li {
				&:not(:last-of-type) {
					&:after {
						content: '/';
					}
				}
			}
		}
	}
}
