<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if title %}{{ title }}, {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
{# insert font reference #}
<link rel="stylesheet" href="{{ '/styles/styles.css' | url }}">
<link rel="stylesheet" href="{{ '/styles/dark.css' | url }}" media="(prefers-color-scheme: dark)">
<link rel="stylesheet" href="{{ '/styles/light.css' | url }}" media="(prefers-color-scheme: light)">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ url }}">
<meta property="twitter:url" content="{{ url }}">
<meta property="og:title" content="{% if title %}{{ title }}, {{ site.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="twitter:title" content="{% if title %}{{ title }}, {{ site.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta property="twitter:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="{{ url }}{{ socialImage }}">
<meta property="og:image" content="{{ url }}{{ socialImage }}">
<link rel="icon" href="images/favicons/favicon.ico" sizes="32x32">
<link rel="icon" href="images/favicons/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">
<link rel="manifest" href="images/favicons/manifest.webmanifest">
<meta name="theme-color" content="{{ site.themeColor }}">{# set this in _data/site.json #}
