<!doctype html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if parent and title %}{{ parent }} {{ title }}{% else %}{{ title }}{% endif %}</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	{% include "breadcrumbs.njk" %}
	{{ content | safe }}
</body>
</html>
