---
layout: _base.njk
---

<article class="chapter">
  <header class="chapter-header">
    {% include "breadcrumbs.njk" %}
    <h1>{{ parent }} {{ title }}</h1>
  </header>

  <div class="chapter-content">
    {{ content | safe }}
  </div>

  {% include "chapter-navigation.njk" %}
</article>
