---
layout: _base.njk
---


  <header class="chapter-header">
    <h1>{{ parent }} {{ title }}</h1>
  </header>

  <main class="chapter-content">
    {{ content | safe }}
  </main>

  {% include "chapter-navigation.njk" %}

