---
layout: _base.njk
---

{% set bookIndexes = [] %}
{% for book in collections.all %}
  {% set isBookIndex = book.inputPath.indexOf('/books/') >= 0 and book.inputPath.indexOf('index.md') >= 0 %}
  {% if isBookIndex %}
    {% set bookIndexes = (bookIndexes.push(book), bookIndexes) %}
  {% endif %}
{% endfor %}

{% set sortedBooks = bookIndexes | sort(false, false, 'data.order') %}


<h2>Books of the Bible</h2>
    
<section class="testament old-testament">
  <h3>Old Testament</h3>
  <nav>
    <ul>
      {% for book in sortedBooks %}
        {% if book.data.order and book.data.order <= 39 %}
          <li>
            <a href="{{ book.url }}">{{ book.data.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul> 
  </nav>
</section>

<section class="testament new-testament">
  <h3>New Testament</h3>
  <nav>
    <ul>
      {% for book in sortedBooks %}
        {% if book.data.order and book.data.order >= 40 %}
          <li>
            <a href="{{ book.url }}">{{ book.data.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul> 
  </nav>
</section>


